@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    line-height: 1;
}

body {
    min-width: 1200px;
}

.navbar,
li {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #503D3F;
    color: white;
}

.nav-searchbar {
    width: 500px;
}